@import 'src/_vars';

.extra-spaced {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.image-column {
  text-align: center;
}

.homepage__header {
  border-top: solid 1px $color-brand-gray;

  .content {
    background: none;
    box-shadow: none;
  }

  @media(min-width: $breakpoint-medium) {
    border-top: none;
  }

  &:before, &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.top-content h3 {
  color: $color-brand-primary;

  font-weight: bold;
  list-style: decimal;

  font-size: calc(1.75rem + .2vw);

}

.elemental-questions {
  display: grid;
  grid-template-areas:
    "content"
    "comic";
  padding-bottom: 0;

  img {
    grid-area: comic;
  }

  div {
    grid-area: content;
  }

  @media(min-width: $breakpoint-large) {
    grid-template-areas:
      "content comic";
  }

  .elemental-questions__logo {
    display: none;

    @media(min-width: $breakpoint-large) {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}

.process-overview {
  padding-bottom: 3rem;

  a {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.75rem;
    display: block;

    @media(min-width: $breakpoint-medium) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &:link, &:visited {
      color: $color-brand-secondary;
      text-shadow: none;
      font-family: $header-font-family;
    }
  }

  .process-overview__stage {
    display: flex;
    flex-flow: row nowrap;

    .process-overview__num {
      flex: 0;

      @media(min-width: $breakpoint-medium) {
        min-width: 2rem;
      }
    }

    .process-overview__text {
      flex: 1;
      margin-left: 1rem;
      max-width: 20rem;
    }

    .process-overview__next {
      flex: 0;
    }
  }
}