@import 'src/_vars';

.ordered-list--important {
  font-weight: bold;
  list-style: decimal;

  font-size: calc(1.75rem + .2vw);
}

.extra-spaced {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.image-column {
  text-align: center;
}

.homepage__header {
  border-top: solid 1px $color-brand-gray;

  .content {
    background: none;
    box-shadow: none;
  }

  @media(min-width: $breakpoint-medium) {
    border-top: none;
  }

  &:before, &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  .column__one {

    @media(min-width: $breakpoint-small) {
      float: left;
      width: 66.66667%;
    }
  }

  .column__two {
    margin-top: 1rem;

    @media(min-width: $breakpoint-small) {
      margin-top: auto;
      width: 33.33333%;
      float: left;
      max-width: 15rem;
    }

    figure {
      margin: 0 auto;
    }

    img {
      width: 100%;
    }
  }
}

.highlight {
  color: $color-brand-primary;
}

.process-overview {
  padding-bottom: 3rem;

  a {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.75rem;
    display: block;

    @media(min-width: $breakpoint-medium) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &:link, &:visited {
      color: $color-brand-secondary;
      text-shadow: none;
      font-family: $header-font-family;
    }
  }

  .process-overview__stage {
    display: flex;
    flex-flow: row nowrap;

    .process-overview__num {
      flex: 0;

      @media(min-width: $breakpoint-medium) {
        min-width: 2rem;
      }
    }

    .process-overview__text {
      flex: 1;
      margin-left: 1rem;
      max-width: 20rem;
    }

    .process-overview__next {
      flex: 0;
    }
  }
}