@import 'src/_vars';

.main-body {
  background: $color-brand-background;
  min-height: 75vh;
  position: relative;
  top: -1px;
  clear: both;
  padding-bottom: 3rem;

  header {
    @extend %div-dark-primary;
    padding: 0 1rem 2rem 1rem;

    h1 {
      font-size: 2.5rem;
      text-shadow: 2px 2px 5px rgb(8, 46, 117);

      @media(min-width: $breakpoint-small) {
        font-size: 3rem;
      }

      .preline {
        display: block;
        font-family: $content-font-family;
        font-size: 1.25rem;
        margin-bottom: .75rem;
      }
    }
  }
}

.bragging {
  font-style: italic;
  margin-top: 2rem;
}

.content {
  padding: 1rem 1rem;

  @media(min-width: $breakpoint-small) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.content-headline {
  font-size: 3rem;
  margin: 2.5rem 0;
  text-align: center;
}

.secondary-dark {
  @extend %div-dark-secondary;
  padding: 5rem 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sbs {

  h1 {
    font-size: 2.4rem;
    text-align: center;

    @media(min-width: $breakpoint-large) {
      font-size: 3.4rem;
      text-align: left;
    }
  }

  .sbs__summary {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    figure {
      width: 15rem;
      flex: 0;

      img {
        width: 100%;
      }
    }

    h2 {
      color: $color-brand-primary;
    }

    .sbs-summary__text {
      flex: 1;
      font-size: 1.25rem;

      ol {
        margin-top: .5rem;

        li {
          line-height: 2rem;
          font-size: 1rem;

          input {
            visibility: hidden;
          }

          label:before {
            content: ' ';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background: $color-brand-white;
            border: solid 1px $color-brand-black;
            box-shadow: 2px 2px 2px $color-brand-gray;
            margin-right: 1rem;
            color: black;
            line-height: 1rem;
          }

          input[type="checkbox"]:checked + label:before {
            content: '🔥';
          }
        }
      }
    }
  }

  .sbs__footer {
    grid-area: footer;
    padding-top: 3rem;
    display: block;
    text-align: center;

    a {
      font-weight: bold;
      font-size: 1.75rem;
      display: block;

      &:link, &:visited {
        color: $color-brand-secondary;
        text-shadow: none;
        font-family: $header-font-family;
      }
    }
  }

  @media(min-width: $breakpoint-large) {
    padding-top: calc(.5rem + 3vw);
    display: grid;
    grid-template-columns: 22rem 22rem auto 22rem;
    grid-template-areas:
      "summary title title title"
      "summary content content content"
      "summary footer footer footer";
    grid-column-gap: 1rem;

    .sbs__summary {
      grid-area: summary;
    }

    .sbs__title {
      grid-area: title;
      margin-bottom: 3rem;
    }

    .sbs__content {
      grid-area: content;
    }

    .sbs__footer {
      grid-area: footer;
    }
  }
}