@import 'src/_vars';

.main-body {
  background: #f0f2f2;
  min-height: 75vh;
  position: relative;
  top: -1px;
  clear: both;

  header {
    @extend %div-dark-primary;
    padding: 0 4rem 2rem 4rem;

    h1 {
      font-size: 3rem;
      text-shadow: 2px 2px 5px rgb(8, 46, 117);

      .preline {
        display: block;
        font-family: $content-font-family;
        font-size: 1.25rem;
        margin-bottom: .75rem;
      }
    }
  }
}

.bragging {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 2rem;

  @media(min-width: $breakpoint-small) {
    width: 75%;
    margin-left: calc(6rem - (1.2vw));
  }
}

.content {
  padding: 1rem .75rem;
}

.content-headline {
  font-size: 3rem;
  margin: 2.5rem 0;
  text-align: center;
}

.secondary-dark {
  @extend %div-dark-secondary;
  padding: 5rem 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sbs {

  .sbs__summary {
    display: flex;
    flex-flow: column nowrap;

    figure {
      max-width: 20rem;
      min-width: 6rem;
      flex: 1;

      svg {
        max-height: 15rem;
      }
    }
    .sbs-summary__text {
      flex: 1;
      font-size: 1rem;

      ol li {
        line-height: 2rem;

        &:before {
          content: ' ';
          display: inline-block;
          width: 1rem;
          height: 1rem;
          background: $color-brand-white;
          border: solid 1px $color-brand-black;
          box-shadow: 2px 2px 2px $color-brand-gray;
          margin-right: 1rem;
        }
      }
    }
  }

  @media(min-width: $breakpoint-large) {
    padding-top: calc(.5rem + 3vw);
    display: grid;
    grid-template-columns: 22rem 22rem auto 22rem;
    grid-template-areas:
      "summary title title title"
      "summary content content content";

    .sbs__summary {
      grid-area: summary;
    }

    .sbs__title {
      grid-area: title;
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    .sbs__content {
      grid-area: content;
    }
  }
}