@import 'src/_vars';

header.page-header {
  @extend %div-dark-primary;

  position: relative;
  margin: .5rem 1rem;
  padding: 1rem 0;
  min-height: 2rem;

  @media(min-width: $breakpoint-medium) {
    min-height: 7rem;
  }

  @media(min-width: $breakpoint-large) {
    padding: 1rem 2rem;
    min-height: 12rem;
  }

  a, a:visited {
    color: $color-brand-white;
  }

  .logo {
    position: relative;
    float: left;
    top: .2rem;

    @media(min-width: $breakpoint-medium) {
      top: 2rem;
    }

    @media(min-width: $breakpoint-large) {
      width: 14rem;
    }


    figure {
      display: flex;
      flex-flow: row nowrap;
      vertical-align: middle;

      svg {
        height: 1.25rem;

        @media(min-width: $breakpoint-medium) {
          height: 2.75rem;
          max-height: 100px;
        }
      }

      figcaption {
        font-size: 1.25rem;
        margin-left: 1rem;

        @media(min-width: $breakpoint-medium) {
          font-size: 1.5rem;
          max-width: 5rem;
          display: none;
        }

        @media(min-width: $breakpoint-large) {
          display: block;
        }
      }
    }
  }

  .menu-trigger {
    position: absolute;
    right: 1rem;
    top: .75rem;
    border: solid 2px $color-brand-white;
    border-radius: 3px;
    padding: .5rem;

    @media(min-width: $breakpoint-medium) {
      display: none;
    }
  }

  .close-trigger {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: $color-brand-white;
    margin-right: 1rem;
    border: solid 2px $color-brand-white;
    border-radius: 3px;
    padding: 0 .5rem;
    background: none;
    font-size: 2rem;

    @media(min-width: $breakpoint-medium) {
      display: none;
    }
  }

  .main-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    text-shadow: none;
    display: none;
    background: $color-brand-primary;

    &--expanded {
      display: block;

    }

    @media(min-width: $breakpoint-medium) {
      display: block;
      position: relative;
      float: left;
      bottom: auto;
      left: auto;
      right: auto;
      width: calc(100% - 6rem);
    }

    @media(min-width: $breakpoint-large) {
      width: calc(100% - 14rem);
    }

    ul {
      display: flex;
      flex-flow: column nowrap;
      margin-top: 3rem;

      @media(min-width: $breakpoint-medium) {
        margin-top: 0;
        flex-direction: row;
        text-align: center;
      }
    }

    a, a:visited {
      @media(min-width: $breakpoint-medium) {
      }
    }


    li {
      padding: 1rem 2rem;
      text-shadow: 1px 1px 1px $color-brand-black;

      @media(min-width: $breakpoint-medium) {
        display: inline-block;
        flex: 1;
        background: $color-brand-primary;
        border: none;
      }

      .nav-link.route--active {
        color: $color-brand-black;
        text-shadow: none;
      }


      img {
        margin: .25rem auto;
        display: none;

        @media(min-width: $breakpoint-medium) {
          display: block;
          width: 3rem;
          height: 3rem;
          margin: 1rem auto;
        }
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 600;

        @media(min-width: $breakpoint-medium) {
          font-size: calc(.8rem + .7vw);
        }
      }

      p {
        font-size: calc(.75rem + .3vw);
        font-style: italic;
        margin: 1rem 0;
        display: none;
        font-weight: 400;

        @media(min-width: $breakpoint-large) {
          display: block;
        }
      }
    }
  }
}