@import 'src/_vars';

footer {
  @extend %div-dark-primary;
  padding: 1rem 1rem 8rem 1rem;
  text-align: center;

  .content {
    background: none;
    box-shadow: none;
  }

  a, a:visited {
    color: $color-brand-white;
  }

  h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 3rem 0;
  }

  .topics-list {
    display: flex;
    flex-flow: column nowrap;

    h5 {
      text-align: left;
    }

    @media(min-width: $breakpoint-medium) {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(8, 1fr);

      &:after {
        content: '';
        grid-area: 6 / 1 / 9 / 2;
      }
    }

    a {
      display: inline-block;
      flex: 1;
      font-size: 1rem;
      text-align: left;


      @media(min-width: $breakpoint-medium) {
        margin: .25rem 0;
        font-size: 1.5rem;
        line-height: 3rem;
        min-width: auto;
      }

      :before {
        content: '•';
        color: #75150e;
        margin: 0 .25rem;

        @media(min-width: $breakpoint-medium) {
          margin: 0 1rem;
          font-size: 2rem;
        }
      }

      @media(min-width: $breakpoint-medium) {
        width: auto;
      }
    }
  }

  .by-line {
    margin-top: 2rem;
    font-size: 1rem;
  }
}
