@import 'src/_vars';
@import 'src/_fontFaces';

body {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  margin: 1rem 0;
}

a, a:visited {
  text-decoration: none;
  color: $color-brand-black;
}

.link--decorated {
  text-decoration: underline;
}

.content {
  max-width: $content-max-width;
  margin: 0 auto;
  background: $color-brand-white;
  box-shadow: 5px 5px 5px $color-brand-gray;

  font-size: 1.5rem;

  &--two-column {
    display: flex;
    flex-flow: row wrap;

    .column__one {
      flex: 0;
    }

    .column__two {
      flex: 1;
    }
  }

  &--mini-one-column {
    max-width: 75rem;
  }
}

p {
  margin-top: 1.5rem;
}

hr {
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bold {
  font-weight: bold;
}

section{
  position: relative;
}

.center-image {
  max-width: 75%;
  margin: 0 auto;

  img {
    width: 100%;
  }
}