/* base vars */

$color-brand-primary: #c7372a;
$color-brand-secondary: #333044;
$color-brand-black: #390c09;
$color-brand-white: #ffffff;
$color-brand-gray: #cccccc;

$content-font-family: "Roboto Slab", sans-serif;
$content-font-weight: 100;

$header-font-family: "Permanent Marker", sans-serif;

$dark-background-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);

$breakpoint-large: 100rem;
$breakpoint-medium: 50rem;
$breakpoint-small: 30rem;

$content-max-width: 98rem;

/* partials */

%div-dark {
  color: $color-brand-white;
  text-shadow: $dark-background-text-shadow;
}

%div-dark-primary {
  @extend %div-dark;
  background: $color-brand-primary;
}